<?xml version='1.0' encoding='utf-8'?>
<widget id="com.phonexLogisticsCFS" version="3.0.2" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
  <name>phonexCFS</name>
  <description>phonex CFS app</description>
  <author href="http://poligon.in" email="info@poligononline.com">Poligon Initiative</author>
  <content src="index.html" />
  <preference name="phonegap-version" value="cli-8.1.1" />
  <preference name="permissions"                value="none"/>
  <preference name="orientation"                value="default" />
  <preference name="target-device"              value="universal" />
  <preference name="fullscreen"                 value="true" />
  <preference name="StatusBarOverlaysWebView" value="true" />
  <preference name="prerendered-icon"           value="true" />
  <preference name="stay-in-webview"            value="true" />
  <preference name="detect-data-types"          value="true" />
  <preference name="exit-on-suspend"            value="false" />
  <preference name="disable-cursor"             value="false" />
  <preference name="android-installLocation"    value="auto" />
  <!-- Core plugins -->
  <plugin name="cordova-plugin-camera"/>
  <plugin name="cordova-plugin-device"/>
  <plugin name="cordova-plugin-dialogs"/>
  <plugin name="cordova-plugin-file"/>
  <plugin name="cordova-plugin-geolocation"/>
  <plugin name="cordova-plugin-globalization"/>
  <plugin name="cordova-plugin-inappbrowser"/>
  <plugin name="cordova-plugin-network-information"/>
  <plugin name="cordova-plugin-statusbar"/>  
  <plugin name="cordova-plugin-fullscreen"/>
  <plugin name="cordova-plugin-whitelist"/>
  <platform name="android">
  		<icon src="icon.png" />
  </platform>
  <access origin="*"/>
  <allow-navigation href="http://*/*" />
  <allow-navigation href="https://*/*" />
  <allow-intent href="http://*/*" />
  <allow-intent href="https://*/*" />
  <allow-intent href="mailto:*" />
  <allow-intent href="geo:*" />
  <allow-intent href="tel:*" />
  <platform name="android">
    <allow-intent href="market:*" />
  </platform>
</widget>
